page-menu2 {

}
.col{

border: think solid black;
}
.content{
background: #FDF3E7;

}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#edithouse{
	background:#728e32 ;

}
#creathouse{
	background: #8e8833;

}
#settings{
	background: #728e32;

}
#viewhouse{
	background: #8e8331;

}
#header{
	background: #A2AB58;
	font-weight: Bold;
	font-family: Verdana;
	color: white;
}
#back{
	background-color: #CD853F;
}
#addbutton{
	font-size: 40px;
}

#eyebutton{
	
	font-size: 40px;
}