page-home {

}
.col{

border: think solid black;
}
.content{
background: #FDF3E7;

}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bulb{
	background: #C63D0F;

}
#settings{
	background:  	#FFA500;

}
#lock{
	background: 	#FFA500;

}
#home{
	background: #C63D0F;

}
#header{
	background: #A2AB58;
	font-weight: Bold;
	font-family: Verdana;
	color: white;
}
#back{
	background-color: #CD853F;
}