page-home {

}
.col{

border: think solid black;
}
.content{
background: #FDF3E7;

}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bulb{
	background: #C63D0F;

}
#settings{
	background: #4A96AD;

}
#lock{
	background: #67BCDB;

}
#home{
	background: #A2AB58;

}